{extends file="../templates/main.html"}


{block name=addhead}
<!-- KOMETNARZ POMOCNICZY!!! -->
    <link rel="shortcut icon" href="{$app_url}/assets/images/gt_favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{$app_url}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$app_url}/assets/css/font-awesome.min.css">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{$app_url}/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="{$app_url}/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
    <script src="{$app_url}/assets/js/html5shiv.js"></script>
    <script src="{$app_url}/assets/js/respond.min.js"></script>
    <![endif]-->

{/block}


	<!-- Fixed navbar -->

    <!-- /.navbar -->
{block name=header}
	<header id="head" class="secondary">Logowanie</header>
{/block}
{block name=content}
	<!-- container -->
	<div class="container">
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Zaloguj się</h1>
				</header>
				</article>
				<article class="col-xs-12 maincontent">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Zaloguj się do swojego konta</h3>

							<hr>
							
							<form action="{$app_url}/app/loginin.php" method="post">
								<div class="top-margin">
									<label>Login: <span class="text-danger">*</span></label>
									<input id="login" name="login" type="text" class="form-control" placeholder="tu wpisz login" value="{$form['login']}"/>
								</div>
								<div class="top-margin">
									<label>Hasło: <span class="text-danger">*</span></label>
									<input id="password" name="password" type="password" placeholder="Tu wpisz hasło" class="form-control" value="{$form['password']}">
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<b><a href="">Zapomniane hasło?</a></b>
									</div>
									<div class="col-lg-4 text-right">
									<button class="btn btn-action" type="submit">Zaloguj</button>
									</div>
								</div>
							</form>
							{if isset($messages)}
							{if count($messages)}
							<h4>Wystąpił problem z logowaniem : <h4/>
								<ol class="err">
									{foreach  $messages as $msg}
									{strip}
									<li>{$msg}</li>
									{/strip}
									{/foreach}
								</ol>
								{/if}
								{/if}
						</div>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
{/block}
{block name=footer}
	<footer id="footer" class="top-space">
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Łukasz Malinowski. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
							</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{$app_url}/assets/js/template.js"></script>
<script src="{$app_url}/assets/js/headroom.min.js"></script>
<script src="{$app_url}/assets/js/jQuery.headroom.min.js"></script>
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->


{/block}